# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg

# Entornos virtuales
env/
venv/
ENV/
env.bak/
venv.bak/

# Archivos de configuración de IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Archivos de caché
*.log
*.sqlite3

# Otros archivos temporales
*.tmp
*.temp

# Archivos de configuración de Jupyter
.ipynb_checkpoints